<?xml version="1.0"?>
<robot name="car">
    <material name="grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>

    <link name="base">
        <visual>
            <origin rpy="1.5707 0 0" xyz="5 5 0.0"/>
            <geometry>
                <mesh filename="package://office/office.obj"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <collision concave="yes">
            <origin rpy="1.5707 0 0" xyz="5 5 -0.1"/>
            <geometry>
                <mesh filename="package://office/office.obj"/>
            </geometry>
        </collision>
    </link>

</robot>